.dashboard {
  flex: 6;
  width: 1300px;
  .infos {
  }

  .charts {
    display: flex;

    margin-left: 100px;
    margin-left: 90px;

    .container-left {
      .top {
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
    .container-right {
    }
  }
}
