.activity-chart {
  padding-left: 40px;
  padding-right: 20px;
  width: 835px;
  height: 320px;

  font-size: 14px;
  background-color: #fbfbfb;

  .recharts-rectangle {
    width: 10px;
    border-radius: 20px;
  }
}

.custom-tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #e60000;
  color: white;
  font-size: 7px;
  font-weight: 500;

  p {
    padding: 10px;
  }
}

.custom-legend {
  display: flex;
  justify-content: flex-end;
  ul {
    display: flex;
    gap: 1rem;

    // list-style: none;

    li {
      margin-left: 1rem;

      &.calories {
        color: #e60000;

        span {
          color: black;
        }
      }
    }
  }
}
