.average-score-chart {
  position: relative;
  width: 258px;
  height: 263px;

  border-radius: 5px;
  background-color: #fbfbfb;
  color: black;
  font-size: 15px;
}

.radial-chart__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 24px;
  left: 30px;
  font-size: 15px;
}

.radial-chart__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 40%;
  left: 32%;

  width: 95px;

  h2 {
    margin: auto;
    font-size: 26px;
    color: black;
  }

  span {
    text-align: center;
    font-size: 15px;
    color: #74798c;
  }
}
