.average-sessions-chart {
  width: 258px;
  height: 263px;

  font-size: 12px;
  background-color: #ff0000;
  color: white;
  border-radius: 5px;

  .custom-tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    color: black;
    font-size: 8px;
    font-weight: 500;

    p {
      padding: 12px;
    }
  }
}
