.average-score-chart {
  width: 258px;
  height: 263px;

  border-radius: 5px;
  background-color: #fbfbfb;
  color: black;
  font-size: 15px;
}

.radial-chart__label {
  background-color: aqua;
  color: black;
}
