.info-card {
  display: flex;
  align-items: center;
  gap: 24px;

  width: 258px;
  height: 124px;

  padding: 32px;

  background-color: #fbfbfb;

  border-radius: 5px;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    border-radius: 6px;
  }

  &__value {
    font-size: 20px;
    font-weight: 700;
  }

  &__type {
    font-size: 14px;
    font-weight: 500;
    color: #74798c;
  }
}
